[global]
GITHUB_USER:'username'
GITHUB_PASS:'secret'
UPSTREAM_ONLY:False
GIT_ADD_FIRST:True
GIT_REBASE_FIRST:True
GITHUB_PULL_REQUEST_URL:'https://api.github.com/repos/django-stars/<repo_name>/pulls'
